        b2PrismaticJointDef def = b2DefaultPrismaticJointDef();
        def.bodyIdA = a;
        def.bodyIdB = b;
        def.localAnchorA = anchorA;
        def.localAnchorB = anchorB;
        def.localAxisA = axis;
        def.referenceAngle = resting + rad({{REFERENCE_ANGLE}});
        def.targetTranslation = {{TARGET_TRANSLATION}}f;
        def.enableSpring = {{ENABLE_SPRING}};
        def.hertz = {{HERTZ}}f;
        def.dampingRatio = {{DAMPING_RATIO}}f;
        def.enableLimit = {{ENABLE_LIMIT}};
        def.lowerTranslation = {{LOWER_TRANSLATION}}f;
        def.upperTranslation = {{UPPER_TRANSLATION}}f;
        def.enableMotor = {{ENABLE_MOTOR}};
        def.maxMotorForce = {{MAX_MOTOR_FORCE}}f;
        def.motorSpeed = {{MOTOR_SPEED}}f;
        def.collideConnected = {{COLLIDE_CONNECTED}};
