        b2RevoluteJointDef def = b2DefaultRevoluteJointDef();
        def.bodyIdA = a;
        def.bodyIdB = b;
        def.localAnchorA = anchorA;
        def.localAnchorB = anchorB;
        def.referenceAngle = resting + rad({{REFERENCE_ANGLE}});
        def.targetAngle = rad({{TARGET_ANGLE}});
        def.enableSpring = {{ENABLE_SPRING}};
        def.hertz = {{HERTZ}}f;
        def.dampingRatio = {{DAMPING_RATIO}}f;
        def.enableLimit = {{ENABLE_LIMIT}};
        def.lowerAngle = rad({{LOWER_ANGLE}});
        def.upperAngle = rad({{UPPER_ANGLE}});
        def.enableMotor = {{ENABLE_MOTOR}};
        def.maxMotorTorque = {{MAX_MOTOR_TORQUE}}f;
        def.motorSpeed = rad({{MOTOR_SPEED}});
        def.drawSize = {{DRAW_SIZE}}f;
        def.collideConnected = {{COLLIDE_CONNECTED}};
