    {
        SceneRay ray;
        ray.name = "{{NAME}}";
        ray.origin = QPointF({{X}}, {{Y}});
        ray.angleDegrees = {{ANGLE}};
        ray.length = {{LENGTH}};
        ray.maskBits = 0x{{MASK_BITS}}ull;
        scene.rays.push_back(ray);
    }
