    {
        SceneRule rule;
        rule.name = "{{NAME}}";
        rule.subject = "{{SUBJECT}}";
{{CONDITION}}        rule.when = {{WHEN}};
        rule.target = "{{TARGET}}";
{{EFFECT}}{{FLAGS}}        scene.rules.push_back(rule);
    }
