    scene.pixelsPerMeter = {{PIXELS_PER_METER}};
    scene.subStepCount = {{SUB_STEP_COUNT}};
    scene.motionScale = {{MOTION_SCALE}};
    scene.stepsPerSecond = {{STEPS_PER_SECOND}};
    scene.showControls = {{SHOW_CONTROLS}};
    scene.debugView = {{DEBUG_VIEW}};
    scene.axisLength = {{AXIS_LENGTH}};
    scene.axisWidth = {{AXIS_WIDTH}};
    scene.axisXColor = QColor("{{AXIS_X_COLOR}}");
    scene.axisYColor = QColor("{{AXIS_Y_COLOR}}");
    scene.jointColor = QColor("{{JOINT_COLOR}}");
    scene.jointAnchorRadius = {{JOINT_ANCHOR_RADIUS}};
    scene.width = {{WIDTH}};
    scene.height = {{HEIGHT}};
    scene.viewCenterX = {{VIEW_CENTER_X}};
    scene.viewCenterY = {{VIEW_CENTER_Y}};
    scene.background = QColor("{{BACKGROUND}}");
