//! In step(): a ray that sees only some collision groups looks again.
{
    b2.b2QueryFilter filter = b2.b2DefaultQueryFilter();
    filter.maskBits = {{MASK}};
    {{ID}} = b2.b2World_CastRayClosest(world, m({{X}}, {{Y}}), m({{DX}}, {{DY}}), filter);
}
