// {{NAME}}
MotorJoint {
    id: {{ID}}
    bodyA: {{BODY_A}}
    bodyB: {{BODY_B}}
    linearOffset: {{LINEAR_OFFSET}}
    angularOffset: {{ANGULAR_OFFSET}}
    maxForce: {{MAX_FORCE}}
    maxTorque: {{MAX_TORQUE}}
    correctionFactor: {{CORRECTION_FACTOR}}
    collideConnected: {{COLLIDE_CONNECTED}}
}
