// {{NAME}}
RevoluteJoint {
    id: {{ID}}
    bodyA: {{BODY_A}}
    bodyB: {{BODY_B}}
    localAnchorA: {{ANCHOR_A}}
    localAnchorB: {{ANCHOR_B}}
    referenceAngle: {{REFERENCE_ANGLE}}
    enableLimit: {{ENABLE_LIMIT}}
    lowerAngle: {{LOWER_ANGLE}}
    upperAngle: {{UPPER_ANGLE}}
    enableMotor: {{ENABLE_MOTOR}}
    motorSpeed: {{MOTOR_SPEED}}
    maxMotorTorque: {{MAX_MOTOR_TORQUE}}
    collideConnected: {{COLLIDE_CONNECTED}}
}
