// The walls around the field.
Body {
    world: world
    Box { x: {{LEFT}}; y: {{TOP}}; width: {{SPAN}}; height: {{THICKNESS}} }
    Box { x: {{LEFT}}; y: {{BOTTOM}}; width: {{SPAN}}; height: {{THICKNESS}} }
    Box { x: {{LEFT}}; y: {{INNER_TOP}}; width: {{THICKNESS}}; height: {{INNER_HEIGHT}} }
    Box { x: {{RIGHT}}; y: {{INNER_TOP}}; width: {{THICKNESS}}; height: {{INNER_HEIGHT}} }
}
