// {{NAME}}
WeldJoint {
    id: {{ID}}
    bodyA: {{BODY_A}}
    bodyB: {{BODY_B}}
    localAnchorA: {{ANCHOR_A}}
    localAnchorB: {{ANCHOR_B}}
    referenceAngle: {{REFERENCE_ANGLE}}
    frequencyHz: {{FREQUENCY}}
    dampingRatio: {{DAMPING_RATIO}}
    collideConnected: {{COLLIDE_CONNECTED}}
}
