// {{NAME}}
WheelJoint {
    id: {{ID}}
    bodyA: {{BODY_A}}
    bodyB: {{BODY_B}}
    localAnchorA: {{ANCHOR_A}}
    localAnchorB: {{ANCHOR_B}}
    localAxisA: {{AXIS}}
    frequencyHz: {{FREQUENCY}}
    dampingRatio: {{DAMPING_RATIO}}
    enableMotor: {{ENABLE_MOTOR}}
    motorSpeed: {{MOTOR_SPEED}}
    maxMotorTorque: {{MAX_MOTOR_TORQUE}}
    collideConnected: {{COLLIDE_CONNECTED}}
}
