{{ID}} = world.createJoint(pl.DistanceJoint({
    length: len({{LENGTH}}),
    frequencyHz: {{FREQUENCY}},
    dampingRatio: {{DAMPING_RATIO}},
    collideConnected: {{COLLIDE_CONNECTED}},
}, {{BODY_A}}, {{BODY_B}}, m({{ANCHOR_A_X}}, {{ANCHOR_A_Y}}), m({{ANCHOR_B_X}}, {{ANCHOR_B_Y}})));
