{{ID}} = world.createJoint(pl.MouseJoint({
    maxForce: {{MAX_FORCE}},
    frequencyHz: {{FREQUENCY}},
    dampingRatio: {{DAMPING_RATIO}},
}, {{BODY_A}}, {{BODY_B}}, m({{TARGET_X}}, {{TARGET_Y}})));
