//! A field without a value is left out, and b2DefaultWeldJointDef's stands.
{
    b2WeldJointDef jointDef = b2DefaultWeldJointDef();
    jointDef.bodyIdA = {{BODY_A}};
    jointDef.bodyIdB = {{BODY_B}};
    jointDef.localAnchorA = b2Body_GetLocalPoint({{BODY_A}}, m({{ANCHOR_A_X}}, {{ANCHOR_A_Y}}));
    jointDef.localAnchorB = b2Body_GetLocalPoint({{BODY_B}}, m({{ANCHOR_B_X}}, {{ANCHOR_B_Y}}));
    jointDef.referenceAngle = rad({{REFERENCE_ANGLE}});
    jointDef.linearHertz = {{LINEAR_HERTZ}};
    jointDef.angularHertz = {{ANGULAR_HERTZ}};
    jointDef.linearDampingRatio = {{LINEAR_DAMPING_RATIO}};
    jointDef.angularDampingRatio = {{ANGULAR_DAMPING_RATIO}};
    jointDef.collideConnected = {{COLLIDE_CONNECTED}};
    {{ID}} = b2CreateWeldJoint(world, &jointDef);
    b2Joint_SetConstraintTuning({{ID}}, {{CONSTRAINT_HERTZ}}, {{CONSTRAINT_DAMPING}});
}
